
<div class="projects-section-main">
  <div class="project-row">
    <app-project [projectTitle]="'project 1'" [imageUrl]="project1Url"></app-project>
    <app-project [projectTitle]="'project 2'" [imageUrl]="project2Url"></app-project>  
    <app-project [projectTitle]="'project 3'" [imageUrl]="project3Url"></app-project>  
  </div>
  <div class="project-row">
    <div class="github-main">
      <div class="github-image"></div>
      <h1>See my Github for <br>many more of my projects!</h1>
    </div>
  </div>  
</div>

