.container {
    background-color: rgba(red, 0.5);
}

.main-body {
    // height: 100rem;
    width: 100vw;

    & h1 {
        text-align: center;
        transform: translate(-50%, -50%);
        position: relative;
        transition: all 0.25s;
        left: 50vw;
        display: inline-block;
        background: rgba(255, 255, 255, 0.8);
        border: solid black 0.2rem;
        border-radius: 3rem;
        padding: 2rem;
        margin-top: 20rem;
        opacity: 0;
        animation: developerTeacherLeader 1s forwards ease-out;
        animation-delay: 3s;

        &:hover {
            padding: 2rem 10rem;
            border-color: rgb(0, 204, 255);
        }
    }

    // & .spacer {
    //     height: 5rem;
    // }

    // & h2 {
    //     text-align: center;
    //     transform: translate(-50%, -50%);
    //     position: relative;
    //     left: 50vw;
    //     display: inline-block;
    //     background: rgba(255, 255, 255, 0.5);
    //     border: solid black 0.2rem;
    //     border-radius: 3rem;
    //     padding: 2rem;
    //     margin-top: 10rem;
    //     opacity: 0;
    //     animation: scrollDown 6s;
    //     animation-delay: 3s;
    //     // animation-iteration-count: 3;
    // }
}



@keyframes scrollDown {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
  
    100% {
        opacity: 0;
    }
  }


  @keyframes developerTeacherLeader {

    0% {
        opacity: 0;
        transform: skewY(50deg) translate(0%, -50%);
    }

  
    100% {
        opacity: 1;
        transform: skewY(0deg) translate(-50%, -50%);        
    }
  }

