.contact-section-main {
    background-color: white;

    & .contact-info-container {
        padding: 10rem 0rem;

        & h3 {
            text-align: center;
            border: black 0.2rem solid;
            border-radius: 2rem;
            font-size: 2rem;
            margin: 0 40rem;;
            padding: 2rem 0rem;

            &:nth-child(2) {
                margin-top: 4rem;
            }
        }
    }

    & h6 {
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 1rem;
    }

    
}