<div class="about-section-main">
  <!-- <h1>About me:</h1> -->
  <div class="about-section-content">
      <div [style.background-image]="image" class="about-section-image"></div>
      <div class="about-section-description">
        <p>
          Originally from California, I find myself living life as a developer in Florida.<br> How did that happen? <br><br>
          I attended <a href="https://devmountain.com/" target="_blank">DevMountain</a> in Utah to learn web development. 
          This where I met a good friend of mine who 
          would later become like an older brother to me.<br> I never had an older brother, and he never
          had a younger one. How special is that? <br><br>
          This friend saw my potential as a developer and recommended me to his company
          to be one of their lead Angular developers. There would be one interesting requirement, however:
          I'd have to move to Florida from California! <br><br>Needless to say, I took the offer that this company
          gave me, and here I am!<br> Living the good life in Florida!
        </p>
      </div>
  </div>
</div>