/* You can add global styles to this file, and also import other style files */

/* moved box-sizing: border-box down to the body and set the 'all' selector to inherit.
This is considered a better practice in the css community. 

we also include all befores and afters. This avoids any wonky behavior from them. */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    &::before, 
    &::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }
  }
  
  /* 
  setting fontsize for html in order to efficiently use rem. 1rem will now equal 10px.
  
  note: we originally had pixel measurements for all our stuff. Now that we set rem to 10px,
  we can go back through and divide our pixel measurments by 10.
  (e.g. padding: 30px becomes padding: 3rem)
  
  also note: rem is not supported below IE 9.
  */
  

  // this defines what 1rem is which is used globally and so we can consider it a base and not typography
  html {
    font-size: 0.7vw;
    font-family: 'Merriweather', serif;
  }
  
  body {
    box-sizing: border-box;
    background: url(./assets/images/portfolio-background-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    
  }

  h1 {
    font-size: 3rem;
    transition: all 0.25s;

    &:hover {
      transform: skewX(-20deg);
    }
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 0.2rem;
  }